<div class="text-center">
    <h1>Expense's</h1>

    <table class="container table w-75 mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let expense of Expenses">
                <tr *ngIf="expense.amount<0">
                    <th scope="row">{{expense.id}}</th>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.narration}}</td>
                    <td (click)="update(expense)"><mat-icon>edit</mat-icon></td>
                </tr>
            </ng-container>
            <tr>
                <th>Total Expenses = {{totalExp}}</th>
            </tr>
        </tbody>
    </table>
</div>