<div class="container-fluid" style="height:150px; color: darkcyan; background-color: aliceblue;">
    <h1 class="text-center my-auto">Calculated budget : {{TotalIncome+(TotalExpense)}}</h1>
    <div class="text-center">
        <button class="btn btn-info mt-3 mx-auto mb-2 text-white" (click)="openDialog()">Add New Expense/Income</button>
    </div>
</div>