<div class="text-center ">
    <h1>Income's</h1>

    <table class="container table w-75 mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container  *ngFor="let income of Incomes">
                <tr *ngIf="income.amount>0">
                    <th scope="row">{{income.id}}</th>
                    <td>{{income.amount}}</td>
                    <td>{{income.narration}}</td>
                    <td (click)="update(income)"><mat-icon>edit</mat-icon></td>
                </tr>
            </ng-container>
            <tr>
                <th>Total Income = {{totalInc}}</th>
            </tr>
        </tbody>
    </table>
</div>