<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>Install Angular</h2>
    <mat-dialog-content class="mat-typography">
        <div class="form-group row">
            <label for="inputAmount" class="col-sm-3 col-form-label">Amount</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="inputAmount" placeholder=" ₹ . ."
                    formControlName="amount">
            </div>
        </div>
        <div class="form-group row mt-3">
            <label for="inputNarration" class="col-sm-3 col-form-label">Give Narration</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputNarration" placeholder="narration .. "
                    formControlName="narration">
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="reset" mat-button >Reset</button>
        <button type="submit" mat-button [mat-dialog-close]="budgetForm.value" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
</form>