<app-header></app-header>
<div class="row bg-darkcyan container-fluid">
    <div class="col-6 mt-4">
        <app-income-column></app-income-column>
    </div>
    <div class="col-6 mt-4">
        <app-expense-column></app-expense-column>
    </div>
</div>